<section class="register-container" *ngIf="{ data: data$|async} as state">
  <div class="row">
    <div class="col-6">
      <h2>Placa de Vehículo</h2>
      <mat-form-field  appearance="outline">
        <input matInput type="search" color="accent" placeholder="123-AAA" autocomplete="off"
          [formControl]="searchInput">
      </mat-form-field>
      <br>
      <button class="search-btn" mat-flat-button color="accent" (click)="searchLicensePlate()">
        Buscar
      </button>
      <button  class="ml-2" mat-flat-button color="primary" (click)="toAssign()">
        Asignar
      </button>
    </div>
    <div class="col-6">
      <div class="placa-container">
        <div class="placa-container-header">
          <div class="bolivia-image"></div>
          <h3>BOLIVIA</h3>
        </div>
        <div class="placa-container-content">
          <h2>{{ this.searchInput?.value ? ( this.searchInput?.value|uppercase) : "--- ---" }}</h2>
        </div>
      </div>
      <ng-container *ngIf="state.data?.vehicle === null; else data">
        <div *ngIf="searchStarted" class="alert alert-error">
          <span>Placa No Registada</span>
        </div>
      </ng-container>
      <ng-template #data>
        <div *ngIf="searchStarted" class="alert alert-success">
          <span>Placa Registada</span>
        </div>
      </ng-template>
    </div>
  </div>
  <ng-container *ngIf="searchStarted && state.data?.vehicle !== null">
    <div class="row mt-4">
      <div class="col-6"></div>
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <h4>CLIENTE</h4>
            <span>{{state.data?.client.name}} {{state.data?.client.surnames}}</span>
          </div>
          <div class="col-6">
            <h4>CATEGORÍA</h4>
            <span>Abonado VIP</span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h4>VEHÍCULO</h4>
            <span class="d-block">Marca: {{state.data?.vehicle.marca}}</span>
            <span class="d-block">Modelo: {{state.data?.vehicle.model}}</span>
            <span class="d-block">Color: {{state.data?.vehicle.color}}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="searchStarted && state.data?.vehicle === null">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-4" formGroupName="vehicle">
          <h4>Datos del Vehículo</h4>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Placa</mat-label>
            <input matInput placeholder="Placa" type="text" autocomplete="off" formControlName="licensePlate">
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Color</mat-label>
            <input matInput placeholder="Color" type="text" autocomplete="off"  formControlName="color">
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Modelo</mat-label>
            <input matInput placeholder="Modelo" type="text" autocomplete="off"  formControlName="model">
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Marca</mat-label>
            <input matInput placeholder="Marca" type="text" autocomplete="off"  formControlName="marca">
          </mat-form-field>
        </div>
        <div class="col-4" formGroupName="client">
          <h4>Datos del Cliente</h4>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" type="text" autocomplete="off"  formControlName="name">
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellidos" type="text" autocomplete="off"  formControlName="surnames">
          </mat-form-field>

          <mat-slide-toggle formControlName="isSubscriber">Agregar suscripción</mat-slide-toggle>
        </div>
        <div class="col-4" *ngIf="isSubscriber" formGroupName="subscriber">
          <h4>Detalle de Abonado</h4>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="subscriptionTypeId">
              <mat-option *ngFor="let type of susbscriptionTypes$|async" [value]="type.id">
                {{type.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" type="text" formControlName="email">
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Direccion</mat-label>
            <input matInput placeholder="Direccion" type="text" formControlName="direction">
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Telefono</mat-label>
            <input matInput placeholder="Telefono" type="tel" formControlName="phone">
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Fecha de suscripción</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" formControlName="dateBegin">
              <input matEndDate placeholder="End date" formControlName="dateFinish">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="ml-2" mat-flat-button color="primary" (click)="onSave()">
            Guardar {{ isSubscriber ? 'Abonado' : 'Visitante' }}
          </button>
        </div>
      </div>
    </form>
  </ng-container>
</section>
