<div class="dashboard-container">
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let type of types"
       (click)="onChangeType(type)"
       [active]="activeType == type"> {{type}} </a>
  </nav>
    <div class="places-available-container mt-4" #piso1 >
        <ng-container *ngFor="let place of currentPlaces">
            <ng-container *ngIf="place.state == 0; then espacio else espacioRojo"></ng-container>
            <ng-template #espacio >
                <div [value]="place.id" class="card place-available">
                    {{ place.fullname }}
                </div>
            </ng-template>
            <ng-template #espacioRojo >
                <div [value]="place.id" class="card place-not-available" (click)="onInfoClient(place)">
                    {{ place.fullname }}
                </div>
            </ng-template>
        </ng-container>
    </div>
</div>
