::ng-deep {
  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #F0C419 !important;
  }
}

.places-available-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  .card {
    cursor: pointer;
    width:80px;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: center;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, .5);
  }
  .place-available {
    background-color: #A6DF78;
  }
  .place-not-available {
    background-color: #E75A5A;
  }
}

